*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Inter', sans-serif;
  background-color:#f7f2e8c9 ;
  padding-top: 6.25em;
}
a{
  font-family: "Funnel Sans", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

h2{
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}